@import "tailwindcss";

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 243, 244, 246;
  --background-end-rgb: 236, 253, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 17, 24, 39;
    --background-start-rgb: 243, 244, 246;
    --background-end-rgb: 236, 253, 245;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(155deg, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
}
